<section>
    <div class="console">
        <h2>你好！当前角色</h2>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <a href="#!/user/list">
                <div class="dashboard-tile detail tile-turquoise">
                    <div class="content">
                        <h1 class="text-left timer" data-from="0" data-to="56" data-speed="2500">{{countData.user}}</h1>
                        <p>用户</p>
                    </div>
                    <div class="icon"><i class="fa fa-users"></i></div>
                </div>
            </a>
        </div>
        <div class="col-md-3 col-sm-6">
            <a href="#!/role/list">
                <div class="dashboard-tile detail tile-blue">
                    <div class="content">
                        <h1 class="text-left timer" data-to="105" data-speed="2500">{{countData.role}}</h1>
                        <p>角色</p>
                    </div>
                    <div class="icon"><i class="fa fa fa-key"></i></div>
                </div>
            </a>
        </div>
        <div class="col-md-3 col-sm-6">
            <a href="#!/file/list">
                <div class="dashboard-tile detail tile-purple">
                    <div class="content">
                        <h1 class="text-left timer" data-to="105" data-speed="2500">{{countData.file}}</h1>
                        <p>文件</p>
                    </div>
                    <div class="icon"><i class="fa fa-file"></i></div>
                </div>
            </a>
        </div>
    </div>
</section>