<section>
    <div class="row">
        <div class="col-md-12">
            <form action="">
                <div class="form-group">
                    <label for="">文件上传</label>
                    <span class="gallery"></span>
                    <span class="btn btn-success fileinput-button">
                        <i class="glyphicon glyphicon-plus"></i>
                        <span>添加文件</span>
                        <input type="file" name="file[]" id="fileupload" multiple="multiple" style="display: none"/>
                    </span>
                </div>
            </form>
        </div>
    </div>
</section>