<section><!--ng-init="list()"-->
    <div class="row">
        <div class="col-md-12">
            <div class="lists">
                <div class="panel panel-primary">
                    <div class="panel-heading"> 条件搜索</div>
                    <div class="panel-body">
                        <div class="col-sm-2"><input type="text" ng-model="fileSearchName" class="form-control" placeholder="文件名"/></div>
                        <!--<div class="col-sm-2"><input type="text"  ng-model="user.author.username" class="form-control" placeholder="创建人" /></div>-->
                        <!--<div class="col-sm-2"><input type="text"  ng-model="user.created"  class="form-control "  placeholder="创建时间" /></div>-->
                        <button type="button" ng-click="list()" class="btn btn-primary"> 搜索</button>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading"> 数据展示</div>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>名称</th>
                            <th>创建人</th>
                            <th>类型</th>
                            <th>创建时间</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="file in files">
                            <td>
                                <div class="gallery-item">
                                    <a  href="{{file.url}}" title="{{file.name}}">
                                        <img  ng-if="ifImg(file.type)" src="../{{file.url}}" alt=""/>
                                        <span ng-if="!ifImg(file.type)" class="fa file-holder fa-file-pdf-o" title="{{file.name}}"></span>
                                    </a>

                                </div>
                            </td>
                            <td>
                                {{file.author ? file.author.username : '无' }}
                            </td>
                            <td>
                                {{file.type}}
                            </td>
                            <td>
                                {{file.created}}
                            </td>
                            <td>
                                <!--<a href="#!/file/{{file._id}}/edit" class="btn btn-default btn-xs">编辑</a>-->
                                <a ng-click="del(file._id)" ng-if="user.status !== 101" class="btn btn-danger btn-xs J_del">删除</a>
                            </td>
                        </tr>
                        </tbody>

                    </table>
                </div>
                <tm-pagination conf="paginationConf"></tm-pagination>
            </div>
        </div>
    </div>
</section>