<section  ng-init="viewUser()">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <h3 class="panel-heading">修改用户</h3>
                <div class="panel-body">

                    <form  class="form-horizontal"  ng-submit="updateUser();">
                        <input type="hidden" ng-model="user._id"/>
                        <div class="form-group">
                            <label class="col-sm-2 text-right" for="name">用户名</label>
                            <div class="col-sm-10"><input type="text" id="username" name="username" ng-model="user.username" class="form-control" placeholder="用户名" /></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 text-right" for="name">姓名</label>
                            <div class="col-sm-10"><input type="text" id="name" name="name" ng-model="user.name" class="form-control" placeholder="姓名" /></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 text-right" for="email">Email</label>
                            <div class="col-sm-10"><input type="email" id="email" name="email" ng-model="user.email" class="form-control" placeholder="Email" /></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 text-right" for="mobile">手机号码</label>
                            <div class="col-sm-10"><input type="text" id="mobile" name="mobile" ng-model="user.mobile" class="form-control" placeholder="手机号码"/></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 text-right">角色 </label>
                            <div class="col-sm-10">
                                <!--<select ng-model="userMe.user.name" class="form-control input-sm" ng-options="x.name as x.name for x in localGender"></select>-->
                                <select name="gender" ng-model="user.roles" class="form-control input-sm" >
                                    <option ng-repeat="role in roles" value="{{role._id}}" ng-selected="user.roles.indexOf(role._id) > -1" > {{role.name}} </option>
                                </select>
                            </div>
                        </div>

                        <!--<input type="hidden" ng-model="_csrf" name="_csrf" value="{{user.token}}"/>-->
                        <div class="form-group">
                            <label class="col-sm-2 col-md-offset-2"><button class="btn btn-primary" type="submit">提交</button></label>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>