<section ><!--ng-init="list()"-->
    <div class="row">
        <div class="col-md-12">
            <div class="lists">
                <div class="panel panel-primary">
                    <div class="panel-heading"> 条件搜索 </div>
                    <div class="panel-body" >
                        <div class="col-sm-2"><input type="text"  ng-model="user.username" class="form-control" placeholder="用户名" /></div>
                        <div class="col-sm-2"><input type="text"  ng-model="user.name" class="form-control" placeholder="姓名" /></div>
                        <!--<div class="col-sm-2"><input type="text"  ng-model="user.author.username" class="form-control" placeholder="创建人" /></div>-->
                        <!--<div class="col-sm-2"><input type="text"  ng-model="user.created"  class="form-control "  placeholder="创建时间" /></div>-->
                        <button type="button" ng-click="list()" class="btn btn-primary"> 搜索 </button>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading"> 数据展示 </div>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>用户名</th>
                            <th>姓名</th>
                            <th>角色</th>
                            <th>创建人</th>
                            <th>创建日期</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="user in users">
                            <td>
                                <a href="#!/user/{{user._id}}/view" title="{{user.email}}">{{user.username}}</a>
                            </td>
                            <td>
                                {{user.name}}
                            </td>
                            <td>
                                <span ng-if="!user.roles || user.roles.length > 0 " ng-repeat=" role in user.roles"  class="label label-info">
                                        {{role.name}}
                                </span>
                            </td>
                            <td>
                                {{user.author ? user.author.username : '无' }}
                            </td>
                            <td>
                                {{user.created}}
                            </td>
                            <td>
                                <a href="#!/user/{{user._id}}/edit" class="btn btn-default btn-xs">编辑</a>
                                <a ng-click="del(user._id)"  ng-if="user.status !== 101" class="btn btn-danger btn-xs J_del" >删除</a>
                            </td>
                        </tr>
                        </tbody>

                    </table>
                </div>
                <tm-pagination conf="paginationConf"></tm-pagination>
            </div>
        </div>
    </div>
</section>
