<section><!--ng-init="listRole()"-->
    <div class="row">
        <div class="col-md-12">
            <div class="lists">
                <div class="panel panel-primary">
                    <div class="panel-heading"> 条件搜索</div>
                    <div class="panel-body">
                        <div class="col-sm-2"><input type="text" ng-model="role.name" class="form-control" placeholder="权限名"/></div>
                        <!--<div class="col-sm-2"><input type="text"  ng-model="role.author.name" class="form-control" placeholder="创建人" /></div>-->
                        <!--<div class="col-sm-2"><input type="text"  ng-model="role.created"  class="form-control "  placeholder="创建时间" /></div>-->
                        <button type="button" ng-click="listRole()" class="btn btn-primary"> 搜索</button>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading"> 数据展示</div>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>名称</th>
                            <th>创建人</th>
                            <th>创建日期</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="role in roles">
                            <td>
                                <a href="#!/role/{{role._id}}/view" title="{{role.email}}">{{role.name}}</a>
                            </td>
                            <td>
                                {{role.author ? role.author.name : '无' }}
                            </td>
                            <td>
                                {{role.created}}
                            </td>
                            <td>
                                <a href="#!/role/{{role._id}}/edit" class="btn btn-default btn-xs">编辑</a>
                                <a ng-click="delRole(role._id)" ng-if="role.status !== 101" class="btn btn-danger btn-xs J_del">删除</a>
                            </td>
                        </tr>
                        </tbody>

                    </table>
                </div>
                <tm-pagination conf="paginationConf"></tm-pagination>
            </div>
        </div>
    </div>
</section>
